<div class="uk-section-small uk-section-default header">
    <div class="uk-container uk-container-large">
        <h1><span class="ion-speedometer"></span>
            <span class="uk-margin-small-right" uk-icon="icon: clock; ratio: 2"></span> Registro de horas
        </h1>
        <ul class="uk-breadcrumb">
            <li><a href="">Inicio</a></li>
            <li><span href="">Registro de horas</span></li>
        </ul>
    </div>
</div>

<div class="uk-section-small">
    <div class="uk-container uk-container-large">
        <div>

            <div class="uk-child-width-expand@s uk-text-center" uk-grid>

                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <full-calendar id="calendar1" defaultView="timeGridDay" [plugins]="calendarPlugins" [events]="events" [selectable]="true" (select)="eventSelect($event)" deepChangeDetection="true"></full-calendar>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" [events]="events" [selectable]="true" (select)="eventSelectDate($event)" deepChangeDetection="true"></full-calendar>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<!-- Modal Agregar hora -->

<div id="modal-agregar" uk-modal>
    <div class="uk-modal-dialog" style="width: auto;">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Registro de horas laborales</h2>
        </div>
        <div class="uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <app-agregar-hora [fecha_inicial]="fecha_inicial" [fecha_final]="fecha_final"></app-agregar-hora>
        </div>
    </div>
</div>

<!-- Modal Agregar date -->

<div id="modal-agregar-date" uk-modal>
    <div class="uk-modal-dialog" style="width: auto;">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Registro de horas laborales</h2>
        </div>
        <div class="uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <app-agregar-novedades [fecha_inicial]="fecha_inicial" [fecha_final]="fecha_final"></app-agregar-novedades>
        </div>
    </div>