<div class="uk-section-small uk-section-default header">
    <div class="uk-container uk-container-large">
        <h1><span class="ion-speedometer"></span> Mi reporte de horas </h1>
        <ul class="uk-breadcrumb">
            <li><a href="">Inicio</a></li>
            <li><span href="">Resportes</span></li>
        </ul>
    </div>
</div>

<div class="uk-section-small uk-section-default header">
    <div class="uk-container uk-container-large">
        <div uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <h3>Lista de Horas</h3>
            <p>Aquí aparece todas las horas registradas.
            </p>
        </div>
        <br>
        <br>
        <br>
        <div class="caption font-dark">
            <span uk-icon="icon: cog"></span>
            <span class="uk-label uk-label-success">Horas</span>
        </div>
    </div>

    <div class="uk-overflow-auto" style="padding: 30px">
        <table class="uk-table uk-table-small uk-table-divider">
            <tbody>
                <tr>
                    <th>Actividad</th>
                    <th>Actividad Sec</th>
                    <th>Fecha reg</th>
                    <th>Fecha ini</th>
                    <th>Cant horas</th>
                    <th>Autorizado</th>
                </tr>

                <tr *ngFor="let reporte of reportes | paginate: { itemsPerPage: 6, currentPage: p}">
                    <td>{{reporte.actividad.Act_Nombre}}</td>
                    <td>{{reporte.actsec}}</td>
                    <td>{{reporte.fechaini}}</td>
                    <td>{{reporte.fechafin}}</td>
                    <td>{{reporte.canthoras}}</td>
                    <td><i class="fas fa-check" *ngIf="reporte.autorizado ==1"></i>
                        <i class="fas fa-times" *ngIf="reporte.autorizado ==0"></i></td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>