<div class="uk-section-small uk-section-default header">
    <div class="uk-container uk-container-large">
        <h1><span class="ion-speedometer"></span> Mi reporte de horas </h1>
        <ul class="uk-breadcrumb">
            <li><a href="">Inicio</a></li>
            <li><span href="">Resportes</span></li>
        </ul>
    </div>
</div>

<div class="uk-section-small uk-section-default header">
    <div class="uk-container uk-container-large">
        <div uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <h3>Lista de Horas</h3>
            <p>Aquí aparece todas las horas registradas.
            </p>
        </div>
        <br>
        <br>
        <br>
        <div class="caption font-dark">
            <span uk-icon="icon: cog"></span>
            <span class="uk-label uk-label-success">Horas</span>
        </div>
    </div>

    <div class="uk-overflow-auto" style="padding: 30px">
        <nav class="uk-navbar-container searchinput" style="background-color: aliceblue;" uk-navbar>
            <form style="text-align: center" class="uk-grid-small " uk-grid [formGroup]="buscador">
                <div class="uk-navbar-left">
                    <div class="uk-navbar-item">
                        <div class="uk-search uk-search-navbar">
                            <span uk-search-icon></span>
                            <input class="uk-search-input" type="text" [(ngModel)]="buscar" formControlName="buscar" placeholder="Buscar...">

                        </div>
                    </div>
                </div>
            </form>
        </nav>

        <button class="uk-button uk-button-primary" style="margin-top: 10px;" (click)="exportarExcel()"><i class="far fa-file-excel"></i></button>

        <table class="uk-table uk-table-small uk-table-divider" id="tablareporte">
            <tbody>
                <tr>
                    <th>Actividad</th>
                    <th>Actividad Sec</th>
                    <th>Fecha reg</th>
                    <th>Fecha ini</th>
                    <th>Cant horas</th>
                    <th>Autorizado</th>
                </tr>
                <tr *ngFor="let todo of tablas | filter : buscar | paginate: { itemsPerPage: 10, currentPage: p}">

                    <td *ngIf="todo.tiporeg ==3">{{todo.descripcion}}</td>
                    <td *ngIf="todo.tiporeg !=3">{{todo.Act_Nombre}}</td>
                    <td>{{todo.actsec}}</td>
                    <td>{{todo.fechaini}}</td>
                    <td>{{todo.fechafin}}</td>
                    <td>{{todo.canthoras}}</td>
                    <td *ngIf="todo.autorizado ==1"> Aprobado</td>
                    <td *ngIf="todo.autorizado ==0"> No Aprobado</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>