<div class="uk-section-small uk-section-default header">
    <div class="uk-container uk-container-large">
        <h1><span class="ion-speedometer"></span> Aprobación de horas administrativas</h1>
        <ul class="uk-breadcrumb">
            <li><a href="/inicio">Inicio</a></li>
            <li><span href="/Aprobación">Aprobaciónes</span></li>
            <li><span href="/aprobar-admin">Aprobación de horas administrativas</span></li>
        </ul>
    </div>
</div>

<div class="uk-section-small uk-section-default header">
    <div class="uk-container uk-container-large">
        <div uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <h3>Lista de Horas administrativas</h3>
            <p>Aquí aparece todas las horas administrativas, las cuales pueden ser aprobadas o Desaprobadas segun su estado.
            </p>
        </div>
        <br>
        <br>
        <br>
        <div class="caption font-dark">
            <span uk-icon="icon: cog"></span>
            <span class="uk-label uk-label-success">Horas</span>
        </div>

        <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Colaborador</label>
            <select class=" uk-width uk-select uk-form-width-large" [(ngModel)]="idcolaborador" (ngModelChange)="tablas_uni()">
                <option *ngFor="let usuario of usuarios" value="{{usuario.idusu}}">{{usuario.nombre}}</option>
            </select>
            <br>
            <div class="botonexp" *ngIf="tablas != 0">
                <button class="uk-button uk-button-primary" style="text-align:center" (click)="exportarContratistas()"><i
              class="far fa-file-excel"></i></button>
            </div>
        </div>
    </div>

    <div class="uk-section-small" *ngIf="tablas == 0">
        <div class="uk-container uk-container-large">
            <div>
                <div class="uk-card uk-card-default uk-card-body">

                    <div uk-alert>
                        <h2>El usuario no registra horas extra <i class="fas fa-table"></i></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-overflow-auto" style="padding: 30px" *ngIf="tablas != 0">
        <table class="uk-table uk-table-small uk-table-divider">
            <tbody>
                <tr>
                    <th>Actividad</th>
                    <th>Actividad Sec</th>
                    <th>Tipo Registro</th>
                    <th>Fecha ini</th>
                    <th>Fecha fin</th>
                    <th>Cantidad de horas</th>
                    <th>Estado de Horas</th>
                    <th>Aprobar Horas</th>
                    <th>Rechazar Horas</th>
                </tr>
                <tr *ngFor="let usuario2 of tablas| paginate: { itemsPerPage: 10, currentPage: p}">

                    <td>{{usuario2.Act_Nombre}}</td>
                    <td>{{usuario2.actsec}}</td>
                    <td *ngIf="usuario2.tiporeg == 2">Administrativas</td>
                    <td *ngIf="usuario2.tiporeg == 3">Novedades</td>
                    <td>{{usuario2.fechaini}}</td>
                    <td>{{usuario2.fechafin}}</td>
                    <td>{{usuario2.canthoras}}</td>
                    <td *ngIf="usuario2.autorizado == 0">No aprobado</td>
                    <td *ngIf="usuario2.autorizado == 1">Aprobado</td>
                    <td *ngIf="usuario2.autorizado == 2">Pendiente</td>

                    <td><button title="Aprobar" (click)="aprobar(usuario2.idreghoras)" class="uk-button uk-button-primary">
                        <i class="fas fa-check"></i>
                        </button>
                    </td>
                    <td><button uk-toggle="target: #my-id" title="Rechazar" class="uk-button uk-button-danger"><i class="fas fa-times"></i></button></td>
                    <div id="my-id" uk-modal>
                        <div class="uk-modal-dialog">
                            <button class="uk-modal-close-default" type="button" uk-close></button>
                            <div class="uk-modal-header">
                                <h2 class="uk-modal-title">Motivo de Rechazo de horas</h2>
                            </div>
                            <div class="uk-modal-body">
                                <form class="uk-margin" [formGroup]="formulario" (ngSubmit)="editar()">
                                    <div class="uk-margin">
                                        <textarea class="uk-textarea" rows="5" placeholder="Describe aquí el motivo del rechazo de la solicitud." formControlName="Mrechazo"></textarea>
                                    </div>

                                </form>
                            </div>
                            <div class="uk-modal-footer uk-text-center">
                                <button type="submit" (click)="editar(usuario2.idreghoras)" class="uk-button uk-button-primary uk-modal-close" [disabled]="!formulario.valid">Confirmar</button>
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                            </div>
                        </div>

                    </div>
                </tr>

                <!-- This is the modal -->

            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>