
<!-- Proyectos y horas administrativas -->
<form class="uk-grid-small" uk-grid uk-grid [formGroup]="formulario" (ngSubmit)="agregar()">

    <div class="uk-width-1-2@s" style="text-align: center">
        <label class="uk-form-label" for="form-stacked-text">Fecha inicial </label>
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: calendar"></span>
            <input class="uk-input" type="text" value="0000-00-00 00:00:00" formControlName="fecha_inicial" readonly />
        </div>
    </div>

    <div class="uk-width-1-2@s" style="text-align: center">
        <label class="uk-form-label" for="form-stacked-text">Fecha final </label>
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: calendar"></span>
            <input class="uk-input" type="text" value="0000-00-00 00:00:00" formControlName="fecha_final" readonly />
        </div>
    </div>

    <div class="uk-width-1-1@s">
        <ul class="uk-subnav uk-subnav-pill uk-flex-center" uk-switcher>
            <li><a (click)="abrirPestana('proyectos')">Proyectos</a></li>
            <li><a (click)="abrirPestana('administrativas')">Administrativas</a></li>
            <li><a (click)="abrirPestana('novedades')">Novedades</a></li>
        </ul>
        <ul class="uk-switcher uk-margin">
            <!-- Proyectos -->
            <li class="uk-grid-small" uk-grid uk-grid >
                <div class="uk-width-1-2@s" *ngIf="pestana === 'proyectos'">
                    <label class="uk-form-label" for="form-stacked-text">Actividad principal</label>
                    <div class="ng-autocomplete" style="width: auto;">
                        <ng-autocomplete [data]="actividades" [searchKeyword]="k_actividades"
                            (selected)='selectActividad($event)' (inputChanged)='onChangeActividad($event)'
                            (inputFocused)='onFocusedActividad($event)' [itemTemplate]="actividadesT"
                            [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #actividadesT let-item>
                            <a [innerHTML]="item.Act_Nombre"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
                <div class="uk-width-1-2@s">
                    <label class="uk-form-label" for="form-stacked-text">Actividad secundaria</label>
                    <input class="uk-input" type="text" formControlName="actividad_secundaria" required />
                </div>
                <div class="uk-width-1-1@s">
                    <label class="uk-form-label" for="form-stacked-text">Seleccionar proyecto</label>
                    <div class="ng-autocomplete" style="width: auto;">
                        <ng-autocomplete [data]="projects" [searchKeyword]="k_projects"
                            (selected)='selectProject($event)' (inputChanged)='onChangeProject($event)'
                            (inputFocused)='onProject($event)' [itemTemplate]="projectsT"
                            [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #projectsT let-item>
                            <a [innerHTML]="item.name"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
                <div class="uk-width-1-1@s" *ngIf="projectDetail != null">
                    <label class="uk-form-label" for="form-stacked-text">Seleccionar fase</label>
                    <select class="uk-select" formControlName="fase_proyecto">
                        <option value="null">Seleccionar fase</option>
                        <option *ngFor="let project of projectDetail.projects_activities"  
                            value="{{project.idprojectactivityu}}">
                            {{projectDetail.name}} // {{projectDetail.wbs_element}} - {{project.wbs_element}} //
                            {{project.name}}
                        </option>
                    </select>
                </div>
            </li>
            <!-- Administrativas -->
            <li class="uk-grid-small" uk-grid uk-grid >
                <div class="uk-width-1-2@s" *ngIf="pestana == 'administrativas'">
                    <label class="uk-form-label" for="form-stacked-text">Actividad principal</label>
                    <div class="ng-autocomplete" style="width: auto;">
                        <ng-autocomplete [data]="actividadesAdministrativas"
                            [searchKeyword]="k_actividadesAdministrativas" (selected)='selectActividadAdministrativa($event)'
                            (inputChanged)='onChangeActividadAdministrativa($event)' (inputFocused)='onFocusedActividadAdministrativa($event)'
                            [itemTemplate]="actividadesAdministrativasT" [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #actividadesAdministrativasT let-item>
                            <a [innerHTML]="item.Act_Nombre"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
                <div class="uk-width-1-2@s">
                    <label class="uk-form-label" for="form-stacked-text">Actividad secundaria</label>
                    <input class="uk-input" type="text" formControlName="actividad_secundaria" required />
                </div>
            </li>
            <!-- Novedades -->
            <li class="uk-grid-small" uk-grid uk-grid >
                <div class="uk-width-1-2@s" *ngIf="pestana == 'novedades'">
                    <label class="uk-form-label" for="form-stacked-text">Seleccionar novedad</label>
                    <div class="ng-autocomplete" style="width: auto;">
                        <ng-autocomplete [data]="actividadesNovedades"
                            [searchKeyword]="k_actividadesNovedades" (selected)='selectNovedad($event)'
                            (inputChanged)='onChangeNovedad($event)' (inputFocused)='onFocusedNovedad($event)'
                            [itemTemplate]="actividadesNovedadesT" [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #actividadesNovedadesT let-item>
                            <a [innerHTML]="item.Act_Nombre"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>

    <hr />
    <div class="uk-width-1-1@s" style="text-align: center">
        <button type="submit" class="uk-button uk-button-primary" style="width: 50%" [disabled]="formulario.valid">Agregar</button>
    </div>

</form>
<!-- Fin Horas Administrativas y proyectos -->
