<div id="sidebar" class="tm-sidebar-left uk-background-default">

    <div class="user">
        <img id="avatar" width="100" class="uk-border-circle"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWIFCNd8E2LqMRmbOgYyxpwAIaGnwwg69eanHKp0SrvzlrYyPsjg" />
        <div class="uk-margin-top"></div>
        <div id="name" class="uk-text-truncate">Martin Rodriguez</div>
        <div id="email" class="uk-text-truncate">mrodriguez@nec.com.co</div>
    </div>

    <ul class="uk-nav uk-nav-default">
        <li>
            <a routerLink="/hora">
                <span class="uk-margin-small-right" uk-icon="icon: clock"></span>
                <b>REGISTRO HORAS</b>
            </a>
        </li>
        <li>
            <a routerLink="/reporte">
                <span class="uk-margin-small-right" uk-icon="icon: file-text"></span>
                <b>MI REPORTE</b>
            </a>
        </li>
        <li>
            <a routerLink="/#">
                <span class="uk-margin-small-right" uk-icon="icon: check"></span>
                <b>APROBACIONES</b>
            </a>
        </li>
    </ul>
</div>
