<div class="uk-section-small uk-section-default header">
    <div class="uk-container uk-container-large">
        <h1><span class="ion-speedometer"></span> Dashboard</h1>
        <ul class="uk-breadcrumb">
            <li><a href="">Inicio</a></li>
            <li><span href="">Dashboard</span></li>
        </ul>
    </div>
</div>

<div class="uk-section-small uk-section-default header">
    <div class="uk-container uk-container-large">
        <div class="uk-section-small">
            <div class="uk-container" style="text-align: center">
                <h2>RESUMEN REGISTRO DE HORAS DE PROYECTOS</h2>
                <div class="canvas-1">
                    <canvas baseChart [datasets]="barChartData " [labels]="barChartLabels " [colors]="lineChartColors " [options]="barChartOptions " [plugins]="barChartPlugins " [legend]="barChartLegend " [chartType]="barChartType ">
                    </canvas>
                </div>
            </div>
        </div>
        <br><br><br>

        <div class="uk-section-small">
            <div class="uk-container" style="text-align: center">
                <h2>RESUMEN REGISTRO DE HORAS ADMINISTRATIVAS</h2>
                <div class="canvas-1">
                    <canvas baseChart [datasets]="barChartDataAdm" [labels]="barChartLabelsAdm " [colors]="lineChartColorsAdm " [options]="barChartOptionsAdm " [plugins]="barChartPluginsAdm " [legend]="barChartLegendAdm " [chartType]="barChartTypeAdm ">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>